@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff1f2;
  --foreground: #171717;
  --font-rubik: 'Rubik', sans-serif;
  --font-lora: 'Lora', serif;
}

/* I'll get to dark mode later */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik); /* Rubik as the default font */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-rubik); /* Use Lora for headings */
}

blockquote,
em,
p,
.secondary-font {
  font-family: var(--font-lora); /* Lora for emphasis or secondary text */
}
