@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary-color);
  --color-primary-light: var(--primary-color-light);
  --color-primary-dark: var(--primary-color-dark);

  --color-secondary: var(--secondary-color);
  --color-secondary-light: var(--secondary-color-light);
  --color-secondary-dark: var(--secondary-color-dark);

  --animate-marquee: marquee 2s linear 1 forwards;
  --animate-spin-slow: spin 3s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* 
1. Foreground: Neutral for readability.
2. Primary Color: Stands out for emphasis (e.g., buttons or links).
3. Secondary Color: Complements the primary color and adds depth to the design 
*/

:root {
  --background: #eff1f2;
  --foreground: #171717; /* Neutral dark gray for text */
  --font-primary-font: 'Rubik', sans-serif;
  --font-secondary-font: 'Lora', serif;
  --primary-color: #3db8ea; /* Bright blue for CTAs and highlights */
  --primary-color-light: #6dcaf0;
  --primary-color-dark: #2a94ba;
  --secondary-color: #4caf50; /* A fresh green for accents */
  --secondary-color-light: #81c784;
  --secondary-color-dark: #388e3c;
}

/* Dark mode */
[data-theme='dark'] {
  --background: #18181b;
  --foreground: #f9fafb; /* Light gray for text */
  --primary-color: #3db8ea; /* Retain blue for CTAs */
  --primary-color-light: #6dcaf0;
  --primary-color-dark: #2a94ba;
  --secondary-color: #4caf50; /* Same green for accents */
  --secondary-color-light: #81c784;
  --secondary-color-dark: #388e3c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary-font); /* Rubik as the default font */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary-font); /* Use Lora for headings */
}

blockquote,
em,
p,
.secondary-font {
  font-family: var(
    --font-secondary-font
  ); /* Lora for emphasis or secondary text */
}
